<div class="cont">
    <div class="gallery">
        <ul class="lightgallery" style="display: grid; columns: 3; list-style: none; grid-auto-flow: row dense; grid-template-columns: repeat(3, 1fr); row-gap: 10px">
            {{ range .Params }}
                <li data-src="{{ . }}" style="width: 90% !important;">
                    <a href="">
                        <img class="img-responsive" style="border-radius: 6px;" src="{{ . }}">
                        <div class="gallery-poster">
                            <img src="/img/zoom.png">
                        </div>
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
</div>